<nav class="navbar">
  <div class="nav-left">
    <h2 class="logo">SmartWinnr Dashboard</h2>
  </div>

  <div class="nav-right">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
    <a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a>
    <a routerLink="/orders" routerLinkActive="active" class="nav-link">Orders</a>
    <a routerLink="/sales" routerLinkActive="active" class="nav-link">Sales</a>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- VERY IMPORTANT -->
<router-outlet></router-outlet>

<router-outlet></router-outlet>
