<nav class="navbar">
  <div class="nav-left">
    <h2 class="logo">SmartWinnr Dashboard</h2>
  </div>

  <div class="nav-right">
    <a routerLink="/dashboard" class="nav-link">Dashboard</a>
    <a routerLink="/users" class="nav-link">Users</a>
    <a routerLink="/orders" class="nav-link">Orders</a>
    <a routerLink="/sales" class="nav-link">Sales</a>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- IMPORTANT: Child pages will load here -->
<router-outlet></router-outlet>
