h2 {
  color: white;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e293b;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 14px;
  border-bottom: 1px solid #334155;
}

th {
  background-color: #0f172a;
}
